sudo: false
language: php
php:
  - nightly
  - 5.6
  - 5.5
  - 5.4
  - hhvm

matrix:
  allow_failures:
    - php: nightly

cache:
  directories:
    - bower_components
    - node_modules

install:
  - npm install -g npm@latest
  - npm install -g bower gulp
  - npm install
  - bower install
  - composer self-update && composer --version
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - composer global require squizlabs/php_codesniffer

script:
  - npm run build
  - npm run lint
  - phpcs --standard=ruleset.xml --extensions=php -n -s .

notifications:
  slack:
    secure: zWXbxIoD5XuBoTBjNVC0KzM20hi27QOmH9b8uVTndaK6LvBC8bxeDSmruTO/JCKn4OIgpgCYrAEyNi6we1aiRwXdE14xQaQexhh3bXbts83Bg4pubpXw4/I/2xWYLo1u8iSfVGI49oZuaDpHsEFPBevR5fbkdmXyNxQZyEe4t0x9mOPwxzdEHktHSUjDB8CZZFZfGlqqPQLUfiAGwN6DMuQsqO5g4aEXjFVbaoFb4XVpwy9PUJioiY6qi7n3QJXXlnLv6qF9pqpR4IarnSZ36LO9iay4eRwLvMyOuOKDPw5UUApQtP8BVSALKJmZ7Grll7CcINBakONQdM2FbzVZOHMZRa7GqLlHT0v3XwMXwi7Z/FrmxF4HPcpBDYKB//Qlx3ZbXtUJY0LKxAGPpnnUPYR17E4CJHVrbE/kvEECsUdO1ikbJRQ1DdrrWa+35gGAJ1QXfTTGDQfE4xiOZK4KVsqvMGArDjwq6jfJeOHOMQNje089Ay/9kDIVlb7yPZa3I8THLgqcQ4B2FB33y7hwj55ELLq8nunVHgbH8YC2yOLGyU59vL0rETf9DREYX1G7BpeIXFs1/uRq0Z71TlicSzcP0phuSLhci+ynq25eoT54rBlYkCbYp6yjrXJlCjnEj48r9erq7wlS0BQRXKkpMwXcheFmPlmLuDfIODjhYNw=
