footer {
  margin: 20px 0 0 0;
  padding: 40px 0;
  background-color: @lightGray;
  .offset {
    width: 80%;
    margin: auto;
  }
  .column {
    .make-sm-column(4);

    ul {
      .clean-ul;
      a {
        color: #818181;
      }
    }
  }
}
