footer {
  padding: 40px 0;
  background-color: gray;
  .offset {
    width: 80%;
    margin: auto;
  }
  .column {
    .make-sm-column(4);

    ul {
      .clean-ul;
      a {
        color: #000;
      }
    }
  }
}
