body {
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  color: @darkGray;
}

a {
  color: @blue;
  &:hover {
    text-decoration: none;
  }
}

// H1 should be reserved for the site title for SEO purposes, and <h2> used for page titles, h3 for subtitle, etc.
h1, h2 {
  color: @blue;
  font-size: 36px;
  font-family: 'Merriweather', sans-serif;
  font-weight: 800;
  a {
    color: @blue;
  }
}

h3 {
  color: @red;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
}

h4 {
  color: @gray;
  font-size: 16px;
}

h5 {
  color: @red;
  font-size: 14px;
}


.button {
  padding: 12px 16px;
  background-color: @red;
  color: #fff;
  text-transform: uppercase;
  border-radius: 4px;
  letter-spacing: 2px;

  &.blue {
    background-color: @blue;
  }

  &:hover {
    color: #fff;
  }
}

.list {
  article {
    padding-bottom: 40px;
    border-bottom: 1px solid @lightGray;
    margin-bottom: 40px;
    &:last {
      border-bottom: none;
    }
  }
}
