/* COLORS */
@red: #ec504e;
@blue: #277cc0;
@gray: #7c7c7c;
@lightGray: #f2f2f3;


/* RESPONSIVE */
@mobile: ~"(max-width: @{screen-xs-max})";
@tablet: ~"(min-width: @{screen-sm-min}) and (max-width: @{screen-sm-max})";
@desktop: ~"(min-width: @{screen-md-min})";
